<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kedai Kopi Senja</title>
  </head>
  <body>
    <h1>MENU</h1>
    <table border="1">
      <tr>
        <th>Nama Menu</th>
        <th>Harga</th>
        <th>Pesan</th>
      </tr>
      {% for item in menu %}
      <tr>
        <td>{{ item[1] }}</td>
        <!--item.name sebelum diubah (pas pake list of Dictionary)-->
        <td>{{ item[2] }}</td>
        <!--item.price sebelum diubah (pas pake list of Dictionary)-->
        <td>
          <form action="{{ url_for('add_order') }}" method="post">
            <!--item[0] sebelumnya item.id-->
            <input type="hidden" name="menu_id" value="{{ item[0] }}" />
            <input type="number" name="quantity" min="1" value="1" />
            <button type="submit">Pesan</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </table>
    <a href="{{ url_for('view_orders') }}">Lihat Pesanan</a>
  </body>
</html>
