<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="./assets/images/logo.png">
    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/b67e368fa6.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style/style.css') }}"
    />
    <title>Kopi Senja - Menu</title>
  </head>
  <body>
    <div class="navbar">
      <h3>Kopi&nbsp;<span>Senja.</span></h3>
      <!-- <img src="./assets/images/logo warteg bemo.png" alt="" /> -->
      <ul>
        <li><a href="{{ url_for('homepage') }}">Home</a></li>
        <li><a href="{{ url_for('menu') }}">Daftar Makanan</a></li>
        <li><a href="#">Tentang Kami</a></li>
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
      </ul>
    </div>
    <div class="main">
      <div class="content" id="foodList"></div>
      <div class="sidebar" id="cartList">
        <!-- <div class="total">
          <h1>Total: Rp. 30.000</h1>
          <hr />
        </div>
        <div class="card-order">
          <div class="detail">
            <img src="./assets/images/sotobetawi.jpg" alt="" />
            <p>Soto Betawi</p>
            <span>3</span>
          </div>
          <button><i class="fas fa-trash"></i> Hapus</button>
        </div>
        <div class="card-order">
          <div class="detail">
            <img src="./assets/images/es_teh_manis.jpg" alt="" />
            <p>Es Teh Manis</p>
            <span>3</span>
          </div>
          <button><i class="fas fa-trash"></i> Hapus</button>
        </div>
        <div class="card-order">
          <div class="detail">
            <img src="./assets/images/telor_asin.jpg" alt="" />
            <p>Telur Asin</p>
            <span>3</span>
          </div>
          <button><i class="fas fa-trash"></i> Hapus</button>
        </div>
        <div class="card-finish">
          <button>ORDER SEKARANG</button>
        </div> -->
      </div>
    </div>
    <footer>
      <p>Kopi Senja &#169; by Bayu Sukma -- Template by &#169 <i>Abdan Zam Zam R.</i></p>
    </footer>
    <script>
      let food = [
        {% for item in menu %}
        {
          name: "{{ item[1] }}",
          stok: {{ item[3] }},
          harga: {{ item[2] }},
          image: "{{ url_for('static', filename='images/' ~ item[4]) }}"
        },
        {% endfor %}
      ];
    </script>
    <script src="{{ url_for('static', filename='script/script.js') }}"></script>
  </body>
</html>
