<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kedai Kopi Senja</title>
  </head>
  <body>
    <h1>Daftar Pesanan</h1>
    <table border="1">
      <thead>
        <tr>
          <th>Nama Menu</th>
          <th>Jumlah</th>
          <th>Harga</th>
        </tr>
      </thead>
      <tbody>
        {% for order in orders %}
        <tr>
          <!--Sebelumya order.menu_name-->
          <td>{{ order[1] }}</td>
          <!--Sebelumya order.quantity-->
          <td>{{ order[2] }}</td>
          <!--Sebelumya order.total_price-->
          <td>{{ order[3] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <hr />
    <h3>Total Pesanan : {{ total_price }}</h3>
    <a href="{{ url_for('index') }}">Kembali ke Menu</a>
    <a href="{{ url_for('clear_orders') }}">Batalkan Semua Pesanan</a>
  </body>
</html>
